# Search Query

In [1]:
import json
import pandas as pd
import numpy as np
import requests
from config import api_key

# Enter in Answers to Questions

In [2]:
print("What type of Category would you like to search for? i.e Restaurant")
search_category = input()
print("What city and state are you searching? i.e. New York City, NY")
location = input()

What type of Category would you like to search for? i.e Restaurant
restaurant
What city and state are you searching? i.e. New York City, NY
New York, NY

In [3]:
# print("What type of Category would you like to search for? i.e Restaurant")
# search_category = input()
# print("What city and state are you searching? i.e. New York City, NY")
# location = input()
# print("Offset Page Range? i.e. 50 results per page")
# offset = int(input())

name = []
city = []
state = []
category = []
latitude = []
longitude = []
price = []
review_count = []
business_id = []
rating = []

def query_search(set_num): 
    url = 'https://api.yelp.com/v3/businesses/search'
    headers = {
        'Authorization': 'Bearer {}'.format(api_key),}
    url_params = { #parameters passed to the API
    "categories": search_category,
    "location": location,
    'offset': offset_num,
     "limit":50
     }

    response = requests.get(url, headers=headers, params=url_params)
    return response.json()

## Run Query Based On Parameters

In [4]:
for offset_num in range(50): 
    try:
        response = query_search(offset_num)
        businesses=response['businesses']            
        for x in businesses:
            name.append(x['name'])
            business_id.append(x['id'])
            city.append(x['location']['city'])
            state.append(x['location']['state'])
            latitude.append(x['coordinates']['latitude'])
            longitude.append(x['coordinates']['longitude'])
            review_count.append(x['review_count'])
            rating.append(x['rating'])
            category.append(x['categories'][0]['title'])
            try:
                price.append(x['price'])
            except KeyError:
                price.append(0)
#             print(response)
    except AttributeError:
        print("error at ", offset_num)
    except KeyError:
        print("error at ", offset_num)

In [5]:
business_df = pd.DataFrame({
    "Business" : name,
    "Business ID": business_id,
    "City": city,
    "State": state,
    "Category": category,
    "Latitude": latitude,
    "Longitude": longitude,
    "Price":price,
    "Reviews": review_count,
    "Rating": rating
})
business_df

,Business,Business ID,City,State,Category,Latitude,Longitude,Price,Reviews,Rating
0,Levain Bakery,H4jJ7XB3CetIr1pg56CczQ,New York,NY,Bakeries,40.779940,-73.980283,$$,7772,4.5
1,The Halal Guys,xEnNFXtMLDF5kZDxfaCJgA,New York,NY,Food Stands,40.761756,-73.979230,$,9251,4.0
2,Katz's Delicatessen,V7lXZKBDzScDeGB8JmnzSA,New York,NY,Delis,40.722237,-73.987430,$$,11702,4.0
3,Ippudo NY,44SY464xDHbvOcjDzRbKkQ,New York,NY,Ramen,40.730920,-73.990150,$$,9846,4.0
4,The Metropolitan Museum of Art,jVncyqXwlx_D9f2xZn05tg,New York,NY,Art Museums,40.779254,-73.962884,0,2763,4.5
...,...,...,...,...,...,...,...,...,...,...
2495,Roberta's,FhXjAc6nKLf414KxYujUHw,Brooklyn,NY,Pizza,40.705044,-73.933571,$$,2729,4.0
2496,Bea,Rc1lxc5lSKJYd162JHNMfQ,New York,NY,American (New),40.759197,-73.992336,$$,2380,4.0
2497,Grimaldi's Pizzeria,2ggi1luerd3Mf_C82JvCYg,Brooklyn,NY,Pizza,40.702583,-73.993241,$$,4557,3.5
2498,Sundaes and Cones,TPBTUvbBVUfJeEWWy1o1QQ,New York,NY,Ice Cream & Frozen Yogurt,40.730934,-73.989318,$,1464,4.5
2499,JoJu,JlFbaMbMzsu7FA307mUIqg,Elmhurst,NY,Vietnamese,40.740705,-73.879350,$,1563,4.5

In [6]:
print(len(business_df['Business']))

2500

## Save file to a csv using the search location and category

In [9]:
business_df.to_csv('data/'+(location)+'_'+(search_category)+'.csv')